<div class="payment_success_container">
  <div class="payment_success_card">
    <div class="cross">
      <a routerLink="/"><img src="assets/img/cross.png" alt="" /></a>
    </div>
    <div class="check_icon">
      <img src="assets/img/check.png" alt="" />
    </div>
    <div class="purchase_success">
      <span>Purchase Successful</span>
    </div>
    <div class="product_soon mb-3">
      <span> You will get your product soon! </span>
    </div>
    <div class="product_experience">
      <p class="text-center">
        Get ready to experience the spatial audio with adaptive EQ that tunes
        music to your ears.
      </p>
    </div>
  </div>
</div>
