@import "src/variable.scss";

.top-navbar {
  background-color: black;
  color: white;
  padding: 10px 0;
}
.top-navbar-days {
  color: grey;
  font-size: 18px;
}
.top-navbar-time {
  font-size: 18px;
}
.top-navbar-callus {
  font-size: 18px;
}
.top-navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 568px) {
  .top-navbar-days {
    font-size: 14px;
  }
  .top-navbar-time {
    font-size: 14px;
  }
  .top-navbar-callus {
    font-size: 14px;
  }
}
