@import "src/variable.scss";
.contact_us_container {
  background-color: #020202;
  height: 44px;
  z-index: 999;
  position: fixed;
  padding: 0px;
}
.outer_product_container{
  padding-left: 0;
}
.contact_us_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_info_left {
  color: white;
}
.contact_info_right {
  color: white;
}
.contact_info_left span {
  font-size: $main-small-font-size;
  line-height: 18px;
}
.grey_text {
  color: #a2a6b0;
}
.contact_info_right span {
  font-size: $main-small-font-size;
  line-height: 18px;
}
.navbar-expand-lg {
  margin-top: 8px;
  height: 92px;
  background-color: white !important;
}
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  color: var(--bs-navbar-active-color);
  font-size: $main-font-size;
  font-weight: 600;
  line-height: 21px;
}
.main_about_container {
  padding: 0xp 0px 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
}
.about_container {
  margin-left: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 0;
}
.about_product span {
  font-size: $main-font-size;
  font-weight: 600;
  color: #666666;
  border-bottom: 2px solid $button-bg-color;
  padding-bottom: 3px;
}
.product_price {
  display: flex;
  align-items: center;
}
.product_price input {
  width: 70px;
  margin: 0px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: $product-card-bg;
  height: 50px;
  padding: 5px;
}
.bold_price {
  font-weight: 600;
  font-size: $main-font-size;
}
.price_label {
  font-weight: 400;
  font-size: $main-font-size;
}
.navbar-collapse {
  background-color: white;
  z-index: 99;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-toggler {
  font-size: 20px !important;
  padding: 0px !important;
  border: none;
}

.about_container2 {
  margin-left: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_product2 span {
  font-size: $main-font-size;
  font-weight: 600;
  color: #666666;
  border-bottom: 2px solid $button-bg-color;
  padding-bottom: 3px;
}
.product_price2 {
  display: flex;
  align-items: center;
}
.product_price2 input {
  width: 70px;
  margin: 0px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: $product-card-bg;
  height: 50px;
  padding: 5px;
}
.bold_price {
  font-weight: 600;
  font-size: $main-font-size;
}
.price_label2 {
  font-weight: 400;
  font-size: $main-font-size;
}
.about_container2 {
  display: none;
}
.bottom-buynow {
  position: fixed;
  padding: 10px 20px;
  background-color: white;
  bottom: 0px;
  z-index: 99;
}
@media screen and (max-width: 780px) {
  .outer_product_container{
    max-height: 100vh;
  }
}
@media screen and (max-width: 780px) {
  .about_container {
    margin-left: 0px;
  }
  .navbar_container {
    padding: 0px !important;
  }
  .navbar-expand-lg {
    height: 70px;
  }
}
@media screen and (max-width: 568px) {
  .outer_product_container{
    padding: 0 20px;
  }
  .contact_us_info {
    padding: 0px 14px;
  }
  .about_container {
    display: none;
  }
  .about_container2 {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .custom-btn1 {
    padding: 12px 30px;
    border-radius: 50px;
    background-color: $button-bg-color;
    color: $main-white-color;
    border: none;
    outline: none;
    font-size: $main-font-size;
  }
  .product_price2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .bottom-buynow {
  //   position: absolute;
  // }
  .about_container2 {
    display: block;
  }
}
