<div class="container-fluid contact_us_container">
    <div class="container contact_us_info">
      <div class="contact_info_left">
        <span class="grey_text">Mon-Thu:</span> <span> 9:00 AM - 5:30 PM</span>
      </div>
      <div class="contact_info_right"><span>Call Us: (00) 1234 5678</span></div>
    </div>
  </div>
  
  <div class="container-fluid navbar_container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="assets/img/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Laptops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Desktop PCs</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Networking Devices</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Printers & Scanners</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >PC Parts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >All Other Products</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Repairs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="container-fluid main_about_container pb-2 mb-1">
    <div class="container">
      <div class="about_container">
        <div class="about_product">
          <span>About Product</span>
        </div>
        <div class="buy_product">
          <div class="product_price">
            <span class="price_label">Price </span>
            <span class="bold_price">: $299.00</span>
            <input type="number" #quantity value="1"/>
            <button class="custom-btn" (click)="checkout(quantity)">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-product></app-product>
  <div class="container bottom-buynow">
    <div class="about_container2">
      <div class="buy_product2">
        <div class="product_price2">
          <span class="price_label2">Price </span>
          <span class="bold_price">: $299.00</span>
          <input type="number" />
          <button class="custom-btn1">Buy Now</button>
        </div>
      </div>
    </div>
  </div>